Users list:
<main>
    <div class="row d-flex justify-content-around">
        {{#each users}}
            <div class="card col-3">
                <div class="card-title">
                    Email: {{this.name}}
                </div>
                <div class="card-subtitle">
                    Email: {{this.email}}
                </div>
                <div class="card-body">
                    Password: {{this.pass}}
                </div>
            </div>
        {{/each}}
    </div>
</main>
